body  {
    margin: 0;
    padding: 0;
    background: rosybrown;
}
#cabecalho img {
    width: 200px;
    height: 200px;
    display: block;

}
#container  {
    margin: 1em auto;
    width: 1100px;
    background: white;
    margin-top: -20px;
    border: 1px solid black;
}

#cabecalho {background: #white;}
#menu {background: #9e3430; }

/* configuração dos blocos */
#blocesq {
    display: table;
    float: left;
    width: 340px;
    background: #9e3430;
    margin: 10px 10px 10px 10px;
}

#blocesq img {
    width: 340px;
    height: 600px;
}

#bloccent {
    display: table;
    float: left;
    width: 340px;
    background: #9e3430;
    margin: 10px 10px 10px 10px;
}

#bloccent img {
    width: 340px;
    height: 600px;
}

#blocdir {
    display: table;
    float: left;
    width: 340px;
    background: #9e3430;
    margin: 10px 10px 10px 10px;
}

#blocdir img {
    width: 340px;
    height: 600px;
}

#rodape  {
    clear: both;
    display: block;
    position: center;

}

/*Configurações do menu: */
#menu {
    display: block;
}

#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: relative;
    left: 60px;
}

#menu li {
    display: inline-block;
    background-color: #dddddd;
    padding: 15px;
    margin: 5px;
    transition: background-color 1s;
}

#menu li:hover {
    background-color: #606060;
}

#menu h1 {
    display: none;
}

#menu a {
    color: #000000;
    text-decoration: none;
}

%menu a:hover {
        color: #ffffff;
    }